
.vs/LightsOut/v14/.suo
LightsOut/bin/Debug/LightsOut.exe
LightsOut/bin/Debug/LightsOut.exe.config
LightsOut/bin/Debug/LightsOut.pdb
LightsOut/bin/Debug/LightsOut.vshost.exe
LightsOut/bin/Debug/LightsOut.vshost.exe.config
LightsOut/bin/Debug/LightsOut.vshost.exe.manifest
LightsOut/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LightsOut/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LightsOut/obj/Debug/LightsOut.csproj.FileListAbsolute.txt
LightsOut/obj/Debug/LightsOut.csproj.GenerateResource.Cache
LightsOut/obj/Debug/LightsOut.csprojResolveAssemblyReference.cache
LightsOut/obj/Debug/LightsOut.exe
LightsOut/obj/Debug/LightsOut.frmLightsOut.resources
LightsOut/obj/Debug/LightsOut.pdb
LightsOut/obj/Debug/LightsOut.Properties.Resources.resources
LightsOut/obj/Debug/StyleCopViolations.xml
LightsOut/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LightsOut/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LightsOut/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LightsOut/StyleCop.Cache
LightsOutTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LightsOutTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LightsOutTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LightsOutTests/obj/Debug/LightsOutTests.pdb
LightsOutTests/obj/Debug/LightsOutTests.dll
LightsOutTests/obj/Debug/LightsOutTests.csprojResolveAssemblyReference.cache
LightsOutTests/obj/Debug/LightsOutTests.csproj.FileListAbsolute.txt
LightsOutTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LightsOutTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
LightsOutTests/bin/Debug/LightsOutTests.pdb
LightsOutTests/bin/Debug/LightsOutTests.dll
LightsOutTests/bin/Debug/LightsOut.pdb
LightsOutTests/bin/Debug/LightsOut.exe
